body {
    background: black;
}

#canvas1 {
    border: 3px solid white;
    position: absolute;
    width: 900px;
    height: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 450px);
    background: #000;
}

#options{
width:900px;
margin:auto;
display: flex;
justify-content: space-around;
}